.window--terminal {
	left: 50%;
}

/*
 * File list
 */

 #files {
	padding-left: 0px;
	width: auto;
}
#files ul {
	padding: 0px 10px 10px 15px;
	overflow: hidden;
    display: table;
}
#files li {
    color: #444;
}
#files > li.FileItem-regular { 
	color: black;  /* files at top level */
	text-shadow: 2px 2px 2px rgba(68, 68, 68, 0.5);
}
.FileItem-dot {
	display: none;
}
#files li.FileItem-regular {
	list-style: none;
	background: url(img/file-icons/document.png) no-repeat 0 6px;
	padding-left: 32px;
}
#files li.FileItem-regular > a {
	font-size: 1em;
	line-height: 2;
	display: table-cell;
	height: 24px;
	vertical-align: middle;
}
#files li.FileItem-directory {
	list-style: none;
	margin-top: 7px;
	margin-bottom: 7px;
}
#files li.FileItem-directory > a {
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-top: 1px solid grey;
	border-radius: 11px 11px 0px 0px;
	font-size: 120%;

	background: #d2dfed; /* Old browsers */
	background: -moz-linear-gradient(top,  #d2dfed 0%, #c8d7eb 26%, #bed0ea 51%, #a6c0e3 51%, #afc7e8 62%, #bad0ef 75%, #99b5db 88%, #799bc8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2dfed), color-stop(26%,#c8d7eb), color-stop(51%,#bed0ea), color-stop(51%,#a6c0e3), color-stop(62%,#afc7e8), color-stop(75%,#bad0ef), color-stop(88%,#99b5db), color-stop(100%,#799bc8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2dfed', endColorstr='#799bc8',GradientType=0 ); /* IE6-9 */

	color: black;
	padding: 1px 7px;
}
#files li.FileItem-directory > ul {
	margin-top: 0px;
	padding-top: 7px;
	border: 1px solid grey;
	border-radius: 0px 11px 11px 11px;
	background: rgba(241, 245, 249, 0.75);
    box-shadow: rgba(121, 155, 200, 1) 0px 0px 15px inset;
    min-width: 2em; 
    height: 1em; /* essentially min-height because of display: table */
}
#files li.collapse > ul {
	display: none;
}
#files li a {
	cursor: default;
}
#files li a:hover {
	background: #ddd;
}

#help, #lights { display: none; }

/*
 * Editor
 */

.window--editor { top: 45%; left: 35%; height: 45%; width: 55%; }

.window--editor > .area {
	height: 100%;
}

.window--editor .CodeMirror {
	height: 100%;
	font-size: 1em;
	min-width: 15em;
}


/*
 * Runner
 */

.window--runner { left: 30%; min-width: 15em; }

.window--runner .area {
	height: 100%;
	display: flex;
	flex-direction: column;
	background: #7e9fcb;
	box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 20px inset;

	font-family: monospace;
	font-size: 18px;

	max-height: 90vh;
}

.window--runner .arguments {
	display: flex;
	flex-direction: column;
}

.window--runner input {
	width: 100%;
	background: none;
	border: 1px solid rgba(0, 0, 0, 0.05);
	font-family: inherit;
	font-size: inherit;
	color: #dbe3ef;
	padding: 2px;
}
.window--runner input:focus {
	outline: none;
	background: rgba(255, 255, 255, 0.1)
}

.window--runner .output,
.window--runner .output-styled {
	color: navajowhite;
	white-space: pre;
	border: 1px solid rgba(0, 0, 0, 0.05);
	padding: 2px 10px 10px 2px;
	overflow-y: auto;
}

.window--runner .fail .error {
	color: rgb(151, 1, 1);
	padding: 2px 2px 10px 7px;
	font-family: serif;
}

.window--runner .success .error {
	display: none;
}

/*
 * Macros
 */

h1 div.macros {
	display: inline-block;
	margin-left: 2px;
}

h1 div.macros button {
    font-size: 20px;
    border: 1px solid #8599ad;
    border-radius: 50px;
    width: 35px;
    height: 35px;
	margin-top: 7px;
	margin-right: 5px;
	box-sizing: border-box;
}

h1 div.macros button.on {
	background: #e8dea8;
	border: 1px solid #f6f3e1;
	color: #333;
	text-shadow: 0px 0px 1px black;
}
